<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz./thymeleaf/layout" layout:decorator="MainLayout">
	<section layout:fragment="content">
		<h1>Lorem Ipsum</h1>
		<img th:src="@{/loremipsum.png}" style="height: 200px; float: left;"></img>
		<br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu lacus eget arcu lobortis facilisis. Curabitur quis dignissim ipsum. Proin lacinia mattis nulla vitae varius. Praesent quis quam est. Nam rutrum mauris at odio feugiat, id volutpat est pellentesque. Fusce fermentum, purus sed lacinia tempor, metus sapien fermentum mauris, id congue ante diam in velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo elit posuere sem euismod porttitor. Pellentesque volutpat lacinia mi, non mollis arcu faucibus a. Aliquam non ante in justo dignissim finibus quis at risus. Aliquam non pellentesque nisi. Vestibulum iaculis, purus ut faucibus varius, augue arcu dignissim lacus, id lacinia sapien ipsum eu lectus. Morbi id leo sit amet arcu commodo eleifend et nec nisi. </p>
		<p>Aliquam hendrerit enim eget libero varius, non rhoncus nulla porta. Suspendisse potenti. Curabitur libero turpis, interdum eget convallis non, congue et magna. Vestibulum venenatis id justo at eleifend. Fusce condimentum tortor in sodales molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur in odio nec nisi gravida faucibus. Proin elementum in lectus nec hendrerit. </p>
		<p>Praesent sagittis auctor dui in elementum. Sed metus erat, vestibulum id nisi id, tincidunt ultricies leo. Vestibulum a varius quam. Phasellus et mi quis purus tincidunt pretium. Nam sed libero et libero tincidunt tempor. Sed tempor molestie posuere. Nullam semper nisl ac nibh imperdiet, vitae aliquet leo imperdiet. </p>
	</section>
</html>