<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz./thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<meta name= "viewport" content="width=device-width"/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
		<title>Lorem Ipsum</title>
	</head>
	<body>
		<div th:insert="Header"></div>
		<section layout:fragment="content">
			
		</section>
	</body>